.root{
    -fx-background-color: fcfaf8;
}

.button{
    -fx-background-color: e57f19;
    -fx-background-radius: 15px;
    -fx-text-fill: black;

    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);*/
}
.button:hover{
    -fx-background-color: e57f19;
    -fx-background-radius: 15px;
    -fx-text-fill: #f3ede7;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#time, #ansver, #score{
    -fx-background-color: f3ede7;
    -fx-background-radius: 30px;
    -fx-text-fill: black;
}